@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: rgb(37, 164, 236); */
  background: linear-gradient(
    180deg,
    rgb(68, 178, 241) 12%,
    #1a5272 75%,
    rgb(26, 70, 95) 80%,
    rgb(11, 34, 43) 100%
  );

  line-height: 1.8rem;
  height: 145.5vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: #0093e9;
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #0bd4bc71;
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  font-size: 2.2rem;
  color: black;
  padding-left: 1rem;
  letter-spacing: 2px;
  margin-top: 0.5rem;
  font-weight: 400;
}

.border {
  border-top: 1px solid rgb(0, 0, 0);
  width: 93%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/*=====================navBar=================================*/

.nav-bar {
  height: 5rem;
  display: flex;
  gap: 2rem;
  padding: 0.8rem 3rem;
  background-color: transparent;
  color: rgb(20, 20, 20);
  font-weight: 200;
  padding-left: 4rem;
}

.nav-bar img {
  width: 3rem;
  padding-top: 0.5rem;
}

.nav-bar a {
  font-size: 1.4rem;
  color: rgb(14, 13, 13);
  padding-top: 1rem;
  letter-spacing: 3px;
  transition: all 0.3s;
  border-bottom: 1px solid black;
  font-weight: 400;
}

.nav-bar a:hover {
  color: rgb(255, 255, 255);
}

/* ===========================customerInfo============================== */

.customer-info {
  display: flex;
  height: 20rem;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
}

.secton {
  width: 33%;
  height: 14rem;
  background-color: #0093e9;
  background-image: linear-gradient(50deg, #40aceb 0%, #95eee4 100%);

  padding-top: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
}

/* -----------------------------left----------------------------------- */

.left {
  box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -moz-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
}

.btn-customer a {
  display: flex;
  margin: 1rem 1.2rem;
  /* padding-left: 35%; */
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 300;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 2px;
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(144, 144, 146);
  border-radius: 10px;
  display: block;
}

.btn-customer a:first-child {
  background-image: linear-gradient(
    to right,
    #0e82ca 10%,
    #26a0da 51%,
    #176896 100%
  );
}

.btn-customer a:last-child {
  background-image: linear-gradient(
    to right,
    #942626 0%,
    #e76969 51%,
    #740505 100%
  );
}

.btn-customer a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* -------------------------middle---------------------------------------- */

.middle {
  box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -moz-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
}

.middle p {
  font-size: 1.1rem;
  margin-left: 1.2rem;
  font-weight: 500;
}

.middle p:nth-child(2) {
  margin-top: 1.6rem;
}

/* -------------------------right---------------------------------------- */

.right {
  box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
  -moz-box-shadow: -7px 53px 80px -81px rgba(0, 0, 0, 1);
}

/* ========================search========================== */
.search {
  background-color: #0093e9;
  background-image: linear-gradient(50deg, #8beee2 0%, #6cbdec 100%);
  height: 4.3rem;
  border-radius: 8px;
  position: relative;
  margin-top: 2rem;
  box-shadow: -1px 26px 166px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px 26px 166px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 26px 166px -4px rgba(0, 0, 0, 1);
}

.search a {
  background: linear-gradient(to right, #2c3e50 0%, #3498db 51%, #2c3e50 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(168, 168, 168);
  border-radius: 10px;
  /* display: block; */
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  position: relative;
  top: 1.28rem;
  left: 1.5rem;
  border-radius: 4px;
}

.search a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* =========================productTable=================== */

.product-table {
  font-size: 1.5rem;
  background-color: white;
  margin-top: 7rem;
  box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75);
  height: 15rem;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 8px;
  /* border: 5px solid black; */
}

.product-table::-webkit-scrollbar {
  display: none;
}

th,
td {
  padding: 0.7rem 6.2rem;
  padding-top: 1.5rem;
  text-align: center;
  font-weight: 300;
  color: black;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #a4dbfc;
}

tr:nth-child(odd) {
  background-color: rgb(175, 250, 250);
}

th {
  background: rgb(24, 189, 188);
  background: radial-gradient(
    circle,
    rgb(101, 221, 221) 92%,
    rgb(31, 146, 146) 100%
  );
}

/* ==========================footer======================= */

.footer-basic {
  padding: 40px 0;
  color: #000000;
  margin-top: 8rem;
  /* background: rgb(35, 160, 231);
  background: radial-gradient(circle, rgb(26, 115, 167) 0%, #0f4564 50%);
  box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 35px 1px rgba(0, 0, 0, 0.75); */
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  /* border-bottom: 1px solid black; */
  font-weight: 400;
  transition: all 0.5s;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  transition: all 1s;
}

.footer-basic .social > a:hover {
  opacity: 1;
  box-shadow: 0px 3px 39px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 39px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 39px 5px rgba(0, 0, 0, 0.75);
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}
